* {
      box-sizing: border-box;
  }
  
body {
      
      font-family: 'Inter', sans-serif;
      margin: 0;
      background-color: #2a2c38 ;
}

.navItems--left{
      display: flex;
      align-items: center;
      color:aqua

}

.Nav{
      color: aliceblue;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 90px;
}
.nav--logo{
      width: 40px;
      height: 40px;
      margin-right: 5px;
}

.navItems{
      font-size: 25px;
}