* {
      box-sizing: border-box;
  }
  
body {
      
      font-family: 'Inter', sans-serif;
      margin: 0;
      background-color: #282D35;
}

.navItems--left{
      padding-left: 20px;
      display: flex;
      align-items: center;
      height: 30px;
}

.navItems--left > h1 {
      font-size: 23px;
      color: #61DAFB;
      font-weight: 700;

}

.Nav{
      color: aliceblue;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 90px;
      width: 550px;
      background-color: #21222A;

}
.nav--logo{
      width: 29px;
      height: 29px;
      margin: 7px;
}

.navItems{
      font-size: 16px;
      padding-right: 20px;
      line-height: 19px;
      font-weight: 600;
}

.MainContent {

      width: 550px;
      color:white;
      background-image: url("./images/BackgroundLogo.png");
      background-repeat: no-repeat;
      background-position: right 75%;
      
}

.MainContent > h1 {
      font-size: 39px;
      font-weight: 700;
      margin: 50px 0px 30px 25px;
}

.Facts > li::marker {
      color: #61DAFB;
      font-size: 27px;
}

.Facts > li {
      margin-left: 30px;
      padding-bottom: 10px;
}
